/* Retain Texascale 2019–2021 styles */
/* SEE: TACC/Core-CMS _imports/objects/o-offset-content.css */

:--o-offset-content {
	--offset-distance: 8.5vw;
}

@media only screen and (--medium-and-above) {
  .figure:is(:--o-offset-content) .figure-caption {
    padding-right: unset;
  }
}
@media only screen and (--medium-and-above) and (--max-wide-and-below) {
  .o-offset-content--left,
  .o-offset-content--right {
    max-width: 50%;
  }
}
