<div class="c-page--image">
  <aside class="c-page__sidebar">
    Sidebar
  </aside>
  <header class="c-page__title">
    Title
  </header>
  <figure class="c-page__visual">
    <img alt="Visual" />
    <figcaption><details>
      <summary>This could instead be an interactive widget…</summary>
      <p>Example: An image map, like <a href="https://texascale.org/2019/visualizing-science/whats-in-a-node">What's in a Node?</a></a></p>
    </details></figcaption>
  </figure>
  <aside class="c-page__fake-sidebar">
    <!-- This may be used to visually "restore" a sidebar after a full-width visual -->
  </aside>
  <div class="c-page__content">
    Content
    <div class="c-page__content-sidebar">
      Content Sidebar
    </div>
  </div>
</div>
