/* TACC COMPONENTS: Offset Content */

[class*="c-offset-content--"] {
	--offset-distance: 8.5vw;
	--buffer: 30px; /* double Bootstrap `.col` padding */
}
@media only screen and (min-width: 992px) {
	.c-offset-content--right {
		float: right;
		margin-left: var(--buffer);
	}
	.c-offset-content--right + .c-offset-content--right { clear: right; }

	.c-offset-content--left {
		float: left;
		margin-right: var(--buffer);
	}
	.c-offset-content--left + .c-offset-content--left { clear: left; }
}
@media only screen and (min-width: 992px) and (max-width: 2400px) {
    /* Apply negative margin only when using offset value */
	.c-offset-content--right {
		margin-right: calc( var(--offset-distance) * -1);
	}
	.c-offset-content--left {
		margin-left: calc( var(--offset-distance) * -1);
	}
}
