/* Organize via ITCSS */
/* SEE: https://confluence.tacc.utexas.edu/x/IAA9Cw */





/* SETTINGS */

:root {
  /* Accent */
  --global-color-accent--x-light: hsl(229 45% 77%);
  --global-color-accent--light: hsl(229 45% 60%);
  --global-color-accent--normal: hsl(229 45% 44%); /* from logo */
  --global-color-accent--dark: hsl(229 45% 35%);
  --global-color-accent--x-dark: hsl(229 45% 30%);

  --global-color-accent--alt: hsl(229 22% 77%);
  --global-color-accent--weak: hsl(229, 45%, 52%, 0.25);

  /* Link */
  --global-color-link-on-light--normal: var(--global-color-accent--normal);
  --global-color-link-on-dark--normal: var(--global-color-accent--x-light);
}





/* TRUMPS */

/* https://github.com/TACC/Core-Styles/blob/290a181/src/lib/_imports/trumps/s-header.css#L47-L50 */
.s-header .navbar-brand {
  min-width: 35px;
}
