/*
Article

Style article pages.

Waringing: This was made a scope only so it could be applied to Texascale quickly. At the time of its creation, there was no architecture for template-specific styles, and limited use of templates.

Markup:
<body class="s-article-page">
  <!-- ??? -->
</div>

Styleguide Trumps.Scopes.Article
*/
/* NOTE: We had loaded media-queries.css from Core-CMS:/taccsite_cms,
         but here we only used custom ranges from installed Core-Styles,
         so now we import custom ranges directly from installed Core-Styles */
@import url("@tacc/core-styles/src/lib/_imports/tools/media-queries.css");



/* Bootstrap: Container */

/* Prevent content after article from wrapping around floated content in article */
.s-article-page .container,
.s-article-page .container-fluid::after {
  /* from Bootstrap `clearfix` */
  display: block;
  content: "";
  clear: both;
}



/* TACC: Offset Content */

/* Do this only for those viewports when content is actually offset */
@media only screen and (--medium-and-above) and (--max-wide-and-below) {
  /* If element is too wide, then the offset is negligible */
  .s-article-page [class*="c-offset-content--"], /* FAQ: Deprecated */
  .s-article-page [class*="o-offset-content--"] {
    max-width: calc( var(--offset-distance) * 4 );
  }
}



/* TACC: Logos */

.s-article-page .logos--social {
  display: flex;
  align-items: center;
  gap: 0;
}

.s-article-page .logos--social > a {
  display: flex; /* to vertically center the svg (as needed) */
}
.s-article-page .logos__text-before {
  white-space: nowrap;
  transform: translateY(2px); /* to better vertically center text */
  font-size: var(--global-font-size--small);
}

.s-article-page .logos--social svg {
  fill: var(--global-color-primary--x-dark);
  height: var(--global-font-size--large);
  width: var(--global-font-size--x-large);
}
.s-article-page .logos__facebook svg:hover { fill: #0866FF; }
.s-article-page .logos__linkedin svg:hover { fill: #0a66c2; }

/* TODO: Pick one and integrate */
.s-article-page .col:nth-of-type(1) .logos--social {
  margin: 10px 15px;
}
.s-article-page .col:nth-of-type(2) .logos--social {
  margin-top: -20px;
}
