/*
Article

Style article pages.

Waringing: This was made a scope only so it could be applied to Texascale quickly. At the time of its creation, there was no architecture for template-specific styles, and limited use of templates.

Markup:
<body class="s-article-page">
  <!-- ??? -->
</div>

Styleguide Trumps.Scopes.Article
*/
/* NOTE: We had loaded media-queries.css from Core-CMS:/taccsite_cms,
         but here we only used custom ranges from installed Core-Styles,
         so now we import custom ranges directly from installed Core-Styles */
@import url("@tacc/core-styles/src/lib/_imports/tools/media-queries.css");



/* Variables */

.s-article-page {
  --sidebar-margin: 15px; /* clone value entered via CMS styles */
}



/* Bootstrap: Container */

/* Prevent content after article from wrapping around floated content in article */
.s-article-page .container,
.s-article-page .container-fluid::after {
  /* from Bootstrap `clearfix` */
  display: block;
  content: "";
  clear: both;
}



/* TACC: Offset Content */

/* Do this only for those viewports when content is actually offset */
@media only screen and (--medium-and-above) and (--max-wide-and-below) {
  /* If element is too wide, then the offset is negligible */
  .s-article-page [class*="c-offset-content--"], /* FAQ: Deprecated */
  .s-article-page [class*="o-offset-content--"] {
    max-width: calc( var(--offset-distance) * 4 );
  }
}



/* TACC: Logos */

.s-article-page .logos--social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 0.5em;
  padding-inline: var(--sidebar-margin);

  /* To add border and space above */
  margin-top: var(--sidebar-margin);
  border-top: var(--global-color-primary--light) var(--global-border-width--normal) solid;
  padding-top: var(--sidebar-margin);
}

.s-article-page .logos--social > a {
  display: flex; /* to vertically center the svg (as needed) */
}
.s-article-page .logos__text-before {
  white-space: nowrap;
  transform: translateY(2px); /* to better vertically center text */

  /* To mimic .byline-title */
  color: #999;
  font-size: 12px;

  /* To push logos beneath this text */
  flex-basis: 100%;
  padding-bottom: 10px;
}

.s-article-page .logos--social svg {
  fill: var(--global-color-primary--x-dark);
  height: var(--global-font-size--large);
  width: var(--global-font-size--large);
}
.s-article-page a.logos__facebook:hover svg { fill: #0866ff; }
.s-article-page a.logos__linkedin:hover svg { fill: #0a66c2; }
.s-article-page a.logos__email:hover svg { fill: #0000ff; }
.s-article-page a.logos__instagram:hover svg { fill: #bc1888; }
