/*
COMPONENTS: Image Map: Structure
*/





/* ELEMENTS */


/* Items */

.c-image-map__items {
  --gap: 1em;

  display: flex;
  flex-direction: column;
  gap: var(--gap);
}
.c-image-map__item {
  /* (any value) Force flex items to not overflow container */
  min-height: 3.5em;
  overflow: hidden; /* Relies on `.c-image-map__item-desc` scroll */
}
.c-image-map__item-desc {
  overflow-y: auto;
}

.c-image-map__item-caption {
  /* Support managing overflow */
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* On narrow viewport, limit height */
@media only screen and (max-width: 991px) {
  .c-image-map__items {
    /* Do not let items cover label text */
    max-height: 62%;
  }
  .c-image-map__item-desc {
    --max-lines: 8; /* for best results, value should fit tallest content */
    --line-height: 1.5; /* from Bootstrap on `body` */

    max-height: calc(1em * var(--max-lines) * var(--line-height));
  }
  .c-image-map__item:hover {
    /* Allow height-restriced item to increase in height */
    flex-shrink: 0;
  }
}
/* On wide viewport, limit height */
@media only screen and (min-width: 992px) {
  .c-image-map__item {
    max-height: 33.3%;
  }
}
/* On very wide viewport, increase gap */
@media only screen and (min-width: 1200px) {
  .c-image-map__items {
    --gap: 2em;
  }
}


/* Position description on image */
.c-image-map__desc {
  --font-size--static: 19px;
  --font-size--one-col: 3.45vw;
  --font-size--two-col: 1.5vw;

  position: absolute;
  width: 75%;
  top: 64%;
  padding-left: 19.5%;

  text-align: justify;
}

/* On very narrow viewport, scale font with screen */
@media only screen and (max-width: 524px) {
  .c-image-map__desc { font-size: var(--font-size--one-col); }
}
/* Between narrow and very narrow viewport, do not scale font */
@media only screen and (min-width: 525px) and (max-width: 991px) {
  .c-image-map__desc { font-size: var(--font-size--static); }
}
/* On wide viewport, move captions to the side */
@media only screen and (min-width: 992px) {
  .c-image-map:not(.c-image-map--should-position-items) .c-image-map__items {
    left: -92%;
    top: 17%;

    width: 100%;
  }
}
/* Between wide and very wide viewport, scale font with screen */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .c-image-map__desc { font-size: var(--font-size--two-col); }
}
/* On very wide viewport, do not scale font */
@media only screen and (min-width: 1200px) {
  .c-image-map__desc { font-size: var(--font-size--static); }
}




/*
COMPONENTS: Image Map: Skin
*/





/* ELEMENTS */


/* Title */

/* Overwrite h1—h6 */
.c-image-map__item-title {
  margin: 0;

  color: inherit;
  font-size: 1rem;
  font-family: inherit;
  text-transform: none;
}


/* Item */

/* On narrow viewport, skin unique structures */
@media only screen and (max-width: 991px) {
  /* Unless hovering/touched, fade out bottom of descritpion */
  .c-image-map__item:not(:hover)::after {
    --fade-start-position: 20px; /* `…__item-caption` bottom padding */

    /* WARNING: Assumes `c-image-map__item` has explicitely set `position` */
    position: absolute;
    bottom: 0;
    /* Prevent disappearance if caption has a `z-index` */
    /* FAQ: A `z-index` on the caption would make it render atop this shape */
    z-index: 1;

    display: block;
    content: '';
    height: 2.25em;
    width: 100%;

    border-width: 0 var(--border--normal) var(--border--normal);
    border-style: solid;
    border-color: var(--accent-color--primary);
    background-image: linear-gradient(
      0deg,
      #fff var(--fade-start-position),
      #fff0
    );
  }
  .c-image-map__item:not(:hover) .c-image-map__item-caption {
    background-color: hsla(0,100%,100%,0.9);
  }
}
