/*
COMPONENTS: Page
*/





/* Move widget to left column */
.c-page__fake-sidebar { order: 1; }
.c-page__content      { order: 3; }
.c-page__visual       { order: 2; }





/*
COMPONENTS: Image Map: Structure
*/





/* ELEMENTS */


/* Items */

.c-image-map__items {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.c-image-map__item {
  /* Force flex items to not overflow container */
  min-height: 0;
}
.c-image-map__item-caption {
  /* Support managing overflow */
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* On narrow viewport, limit height statically and hide overflow */
@media only screen and (max-width: 991px) {
  /* Unless hovering/touched, limit height of description */
  .c-image-map__item:not(:hover) .c-image-map__item-desc {
    --max-lines: 4.5;
    --line-height: 1.5; /* from Bootstrap on `body` */

    max-height: calc(1em * var(--max-lines) * var(--line-height));
  }
  .c-image-map__item .c-image-map__item-desc {
    overflow: hidden;
  }
}
/* On wide viewport, limit height dynamically and scroll overflow */
@media only screen and (min-width: 992px) {
  .c-image-map__item {
    max-height: 33.3%;
  }
  /* Support scrolling of description */
  .c-image-map__item-desc {
    overflow-y: auto;
  }
}


/* Image & Description */

/* Position description on image */
.c-image-map__desc {
  position: absolute;
  width: 75%;
  top: 64%;
  padding-left: 19.5%;

  text-align: justify;
}

/* On very narrow viewport, scale font with screen */
@media only screen and (max-width: 524px) {
  .c-image-map__desc {
    font-size: 3.45vw;
  }
}
/* Between narrow and very narrow viewport, do not scale font */
@media only screen and (min-width: 525px) and (max-width: 991px) {
  .c-image-map__desc {
    font-size: larger;
  }
}
/* On narrow viewport, move description up */
@media only screen and (max-width: 991px) {
  .c-image-map__desc {
    left: 0%;
  }
}
/* On wide viewport, move image to the side */
@media only screen and (min-width: 992px) {
  .c-image-map {
    --image-offset: 92%;
  }
  img.c-image-map__image {
    position: relative;
    right: calc( -1 * var(--image-offset) );
  }
  .c-image-map__desc {
    left: var(--image-offset);
  }
}
/* Between wide and very wide viewport, scale font with screen */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .c-image-map__desc {
    font-size: 1.5vw;
  }
}
/* On very wide viewport, do not scale font */
@media only screen and (min-width: 1200px) {
  .c-image-map__desc {
    font-size: larger;
  }
}




/*
COMPONENTS: Image Map: Skin
*/





/* ELEMENTS */


/* Title */

/* Overwrite h1—h6 */
.c-image-map__item-title {
  margin: 0;

  color: inherit;
  font-size: 1rem;
  font-family: inherit;
  text-transform: none;
}


/* Item */

/* On narrow viewport, skin unique structures */
@media only screen and (max-width: 991px) {
  /* Unless hovering/touched, fade out bottom of descritpion */
  .c-image-map__item:not(:hover) { position: relative; }
  .c-image-map__item:not(:hover)::after {
    --fade-start-position: 20px; /* `…__item-caption` bottom padding */

    position: absolute;
    bottom: 0;

    display: block;
    content: '';
    height: 2.25em;
    width: 100%;

    border-width: 0 var(--border--normal) var(--border--normal);
    border-style: solid;
    border-color: var(--accent-color--primary);
    background-image: linear-gradient(
      0deg,
      #fff var(--fade-start-position),
      #fff0
    );
  }
  .c-image-map__item:not(:hover) .c-image-map__item-caption {
    background-color: hsla(0,100%,100%,0.9);
  }
}
