/*
COMPONENTS: Image Map: Structure
*/





/* PROPERTIES */

/* On narrow viewport, small custom toggle size */
@media only screen and (max-width: 320px) {
  .c-image-map { --toggle-shape-size: 40px; }
}
/* On wide viewport, large custom toggle size */
@media only screen and (min-width: 321px) {
  .c-image-map { --toggle-shape-size: 60px; }
}





/* ELEMENTS */


/* Toggles & Captions */

/* Toggles & Captions: Positions for Specific Items */

/* IMPORTANT: Define these per instance. Key:
    - `unique-instance--item…` is a `c-image-map__item`
    - `top` is the vertical y position of the item & toggle
    - `left` is the horizontal x position of the item & toggle */
.should-match-magazine #secret-sauce--virtual     { top: 20% }
#secret-sauce--virtual                            { top: 20% }
#secret-sauce--virtual .c-image-map__item-toggle { left: 35%; }

.should-match-magazine #secret-sauce--user_apps     { top: 32% }
#secret-sauce--user_apps                            { top: 28% }
#secret-sauce--user_apps .c-image-map__item-toggle { left: 35%; }

.should-match-magazine #secret-sauce--tools     { top: 45% }
#secret-sauce--tools                            { top: 40% }
#secret-sauce--tools .c-image-map__item-toggle { left: 35%; }

.should-match-magazine #secret-sauce--comm_apps      { top: 58% }
#secret-sauce--comm_apps                             { top: 51% }
#secret-sauce--comm_apps .c-image-map__item-toggle { left: 9%; }

.should-match-magazine #secret-sauce--mpi_libs     { top: 71% }
#secret-sauce--mpi_libs                            { top: 63% }
#secret-sauce--mpi_libs .c-image-map__item-toggle { left: 9%; }

.should-match-magazine #secret-sauce--compilers     { top: 98% }
#secret-sauce--compilers                            { top: 90% }
#secret-sauce--compilers .c-image-map__item-toggle { left: 9%; }

/* Descriptions */

@media only screen and (min-width: 992px) {
  .c-image-map__item-desc dl {
    column-count: 2;
  }
}





/*
COMPONENTS: Image Map: Skin
*/





/* ROOT */

/* On wide viewport, accomodate lengthy caption texts */
@media only screen and (min-width: 992px) {
  .c-image-map {
    font-size: 13px;
  }
}
