/* DO NOT ADD STYLES HERE; ONLY IMPORT OTHER STYLESHEETS */

/* Organize via ITCSS */
/* SEE: https://confluence.tacc.utexas.edu/x/IAA9Cw */

/* COMPONENTS */

@import url("_imports/components/c-image-map.css");
@import url("_imports/components/c-image-map.css");
