/* TACC TRUMPS: Home (Page) */
@import url("../../../../../../../../taccsite_cms/static/site_shared/css/src/_imports/tools/x-center.css");
@import url("../../../../../../../../taccsite_cms/static/site_shared/css/src/_imports/tools/media-queries.css");

/* Banner */
/* Introduction */

.s-home-banner,
.s-home-intro {
  --banner-margin-horz: 25px;
}

/* Banner */

.s-home-banner {
  position: relative; /* for `position: absolute` children */
}
@media (--medium-and-below) {
  .s-home-banner { height: auto; }
}
@media (--medium-and-above) {
  .s-home-banner { height: 405px; }
}

.s-home-banner .o-section__banner-overlay {
  font-size: 2.4rem;
  font-family: BentonSansBold;

  padding: 1em 30px; /* GH-99: Use standard spacing value */
  margin: 0 var(--banner-margin-horz);

  @extend .x-center--vert-inline-multiline--flex;
}

.s-home-banner .o-section__banner-image {
  /* The offset is to align image at 1200px to position in design */
  top: calc(50% - 6%); /* overwrite `.o-section__banner-image` */
}



/* Introduction */

.s-home-intro p {
  font-size: 1.8rem;
  font-family: BentonSansBold;
}
@media (--wide-and-above) {
  .s-home-intro p {
    /* Forces width to match design */
    padding-right: 30px; /* GH-99: Use standard spacing value */
  }
}

@media (--narrow-and-above) {
  .s-home-intro div {
    /* Forces smaller width, like design */
    /* Uses consistent space, unlike design */
    padding: 0 30px; /* GH-99: Use standard spacing value */
    margin: 0 var(--banner-margin-horz);
  }
}
.s-home-intro .s-sysmon {
  display: flex;
  align-items: center;
  justify-items: center;
}



/* News */

.s-home-news > img {
  max-width: 100%;
}
