<style id="css-settings-color">
/* To change accent to blue for header and CMS, but not Portal */
/* TODO: When TACC/tup-ui:/apps/tup-cms supports custom styles, add these */
body > header,
body > footer,
body > main > :not(#root) {

  /* Accent */
  --global-color-accent--xxx-light: #AAC7FF;
  --global-color-accent--x-light: #558EFF;
  --global-color-accent--light: #0055FF;
  --global-color-accent--normal: #003399; /* original c-callout background */
  --global-color-accent--dark: #002266;
  --global-color-accent--x-dark: #001133;

  --global-color-accent--alt: #B2C1DE;
  --global-color-accent--weak: #0044CC40;

  --global-color-accent--secondary: #877453;
  --global-color-accent--tertiary: #61A39C;

  --global-color-link-on-light--normal: var(--global-color-accent--normal);
  --global-color-link-on-dark--normal: var(--global-color-accent--xxx-light);

}
</style>
