{% load static %}

{% include 'css-components-button.html' %}
{% include 'css-components-card.html' %}
{% include 'css-components-content-block.html' %}
{% include 'css-components-data-list.html' %}
{% include 'css-components-feed-list.html' %}
{% include 'css-components-layered-image.html' %}
{% include 'css-components-section-decal.html' %}
{% include 'css-elements-monospace.html' %}
{% include 'css-elements-address.html' %}
{% include 'css-elements-body.html' %}
{% include 'css-elements-components-figure-blockquote-caption-embed.html' %}
{% include 'css-elements-form.html' %}
{% include 'css-elements-headings.html' %}
{% include 'css-elements-hr.html' %}
{% include 'css-elements-main.html' %}
{% include 'css-elements-strong-b.html' %}
{% include 'css-elements-time.html' %}
{% include 'css-footer.html' %}
{% include 'css-forms.html' %}
{% include 'css-mailto-link-tweaks.html' %}
{% include 'css-news.html' %}
{% include 'css-object-o-heading-steps.html' %}
{% include 'css-object-o-section.html' %}
{% include 'css-objects-people-grid.html' %}
{% include 'css-settings-color.html' %}
{% include 'css-trump-s-drop-caps-scope.html' %}
{% include 'css-trumps-abbr-list.html' %}
{% include 'css-trumps-bootstrap-grid-rows-columns-cms.html' %}
{% include 'css-trumps-breadcrumbs.html' %}
{% include 'css-trumps-header.html' %}
{% include 'css-trumps-use-content-block-heading-utility.html' %}
{% include 'css-utility-match-column-heights.html' %}
