<style id="page-css-members">
/* Replace space betwen <hr> and main headings with space above their anchors */
/* CAVEAT: If heading level is changed, then must update each selector here */
/* - add space above headign anchor target */
h3 > a[id] {
  padding-top: var(--global-space--hr-margin, 1em);
  display: inline-block;
}
/* - if heading sibling, remove space below <hr> */
h3 ~ hr { margin-bottom: 0; }
/* - if <hr> sibling, remove space above heading */
hr + h3 { margin-top: 0; }
</style>

<style id="page-css-members--potential-global-styles-for-core">
/* Disable onclick/active animation for non-linking anchors */
a:not([href]) {
    pointer-events: none;
}
</style>

{# The {{ html }} allows DjangoCMS Snippet to pass in more markup #}
{{ html }}
