{% extends "./article.html" %}
{% load cms_tags %}

{% block content %}
<article class="c-page c-page--visual  container-fluid">
  <div class="row">
    <div class="c-page__sidebar  col col-12 col-sm-12 col-md-3 col-lg-2 col-xl-2">
      {% placeholder "sidebar" %}
    </div>

    <div class="c-page__title  col col-12 col-sm-12 col-md-8 col-lg-7 col-xl-7">
      {% placeholder "title" %}
    </div>
  </div>

  <div class="row">
    <div class="c-page__visual  col">
      {% placeholder "visual" %}
    </div>
  </div>

  <div class="row">
    <div class="c-page__fake-sidebar  col-12 col-sm-12 col-md-3 col-lg-2 col-xl-2">
      <!-- This column is intentionally empty; it visually "restores" sidebar after full-width visual -->
    </div>
    <div class="c-page__content  col col-12 col-sm-12 col-md-8 col-lg-7 col-xl-7 s-drop-caps">
      {% placeholder "content" %}
    </div>
  </div>
</article>
{% endblock content %}
