{% extends "base.html" %}
{% load staticfiles get_url_match %}

{% block assets_custom %}
  {{ block.super }}

  {% with year_slug=request.path|get_url_match:"/(202\d)/" %}
    {% if year_slug %}
      {% with src="texascale-org/css/build/site."|add:year_slug|add:".css" %}
  <link rel="stylesheet" href="{% static src %}" data-year_slug="{{year_slug}}">
      {% endwith %}
    {% else %}
      {% if settings.DEBUG %}
  <!-- will not load annual CSS cuz year_slug is {{year_slug}} not /(202\d)/ -->
      {% endif %}
    {% endif %}
  {% endwith %}
{% endblock assets_custom %}
