{% extends "fullwidth.html" %}
{% load cms_tags %}

{% block head_fonts %}
  {{ block.super }}
  <link rel="stylesheet" href="https://use.typekit.net/xnr7bof.css">
{% endblock head_fonts %}

{% block head_brand %}
  <link rel="stylesheet" href="{% static 'build/styles/brand/site.css' %}">

  <!-- HACK: Style old CMS content on new CMS -->
  <!-- FP-459: After the redesign of Frontera, remove these -->
  <link class="css-site-old" rel="stylesheet" href="{% static 'site_cms/styles/archive/bootstrap.3.3.7.css' %}">
  <link class="css-site-old" rel="stylesheet" href="{% static 'site_cms/styles/archive/angular-material.1.1.8.css' %}">
  <!-- Order of `main` stylesheets: https://bitbucket.org/taccaci/frontera/src/master/client/src/index.js -->
  <link class="css-site-old" rel="stylesheet" href="{% static 'site_cms/styles/archive/main.portal.css' %}">
  <link class="css-site-old" rel="stylesheet" href="{% static 'site_cms/styles/archive/main.frontera.css' %}">
{% endblock head_brand %}
