{% extends "./fullwidth.html" %}
{% load cms_tags staticfiles %}

{% block assets_custom %}
  <link rel="stylesheet" href="{% static 'frontera-cms/css/build/site.css' %}">
  <link rel="stylesheet" href="{% static 'frontera-cms/css/build/site.header.css' %}">
  <link rel="stylesheet" href="{% static 'frontera-cms/css/build/template.home.css' %}">
{% endblock assets_custom %}

{# FAQ: Common practice but unused, and template is unnecessary long-term #}
{# {% block page_type_class %}s-home{% endblock page_type_class %} #}
