{% extends "fullwidth.html" %}
{% load cms_tags staticfiles %}

{% block assets_custom %}
  {{ block.super }}

  {# TODO: FP-1318: Solve section overflow in `o-section` code #}
  <style>
  /* To hide `.o-section--style-…` and `.o-section__banner-image` overflow */
  /* FAQ: Isolate from Core and Frontera to avoid unexpected side-effects */
  main,
  /* HACK: Using ID until upstream updates markup via `quick/create-and-document-element-stylesheets` */
  #content-wrap { overflow: hidden; }
  </style>
  <link rel="stylesheet" href="{% static 'utrc-cms/css/build/template.home.css' %}">
{% endblock assets_custom %}

{% block page_type_class %}s-home{% endblock page_type_class %}
