/*
CoreV1 Portal Stylesheet `portal.css`
HOW: Manually find and retain code that is still used
SRC: https://bitbucket.org/taccaci/frontera/src/master/client/css/portal.css
*/

/*!
 * CoreV1 Portal Stylesheet `portal.css`
 * https://bitbucket.org/taccaci/frontera/src/master/client/css/portal.css
 * 59e345f
 */

/* … */

body {
  font-family: 'Roboto', sans-serif;

  /* Disabled by TACC */
  /* FAQ: Wesley forgot why; this and more may be deleted anyway */
  /* min-height: 100%; */
  /* position: relative; */
}

/* … */

footer {
  /* … */
  margin-top: 1em;
}
