/*
Article

Style article pages.

Waringing: This was made a scope only so it could be applied to Texascale quickly. At the time of its creation, there was no architecture for template-specific styles, and limited use of templates.

Markup:
<div class="s-article">
  <!-- ??? -->
</div>

Styleguide Trumps.Scopes.Article
*/
@import url("_imports/tools/media-queries.css");

/* Prevent content after article from wrapping around floated content in article */
.s-article-page .container,
.s-article-page .container-fluid::after {
  /* from Bootstrap `clearfix` */
  display: block;
  content: "";
  clear: both;
}

/* Do this only for those viewports when content is actually offset */
@media only screen and (--medium-and-above) and (--max-wide-and-below) {
  /* If element is too wide, then the offset is negligible */
  .s-article-page [class*="c-offset-content--"], /* FAQ: Deprecated */
  .s-article-page [class*="o-offset-content--"] {
    max-width: calc( var(--offset-distance) * 4 );
  }
}
