/*
Icon List

A list with items that each has an icon. It should appear _more_ important than a regular list, but __not__ as important as a [Highlight List](https://tacc-main.atlassian.net/wiki/x/JQVv).

Markup:
<ul class="s-icon-list">
	<li>
    <i class="icon icon-bulb"><!-- ... --></i>
    Getting Started Guide
  </li>
	<li>
    <i class="icon icon-share"><!-- ... --></i>
    Allocation Overview
  </li>
</ul>

Styleguide Trumps.Scopes.IconList
*/
/* FAQ: These Core-Styles are unchanged from v0.12 (Core-CMS v3.9) to v2.7 */
@import url("@tacc/core-styles/src/lib/_imports/tools/x-truncate.css");



.s-icon-list {
  --icon-size: 3.5em;

  font-weight: var(--bold);
  text-transform: uppercase;

  list-style: none;
}

.s-icon-list li {
  @extend %x-truncate--one-line;
}
.s-icon-list a {
  color: inherit;
}

.s-icon-list .icon {
  vertical-align: middle;

  font-size: var(--icon-size);
}
