{# https://github.com/TACC/Core-CMS/blob/main/taccsite_cms/templates/djangocms_blog/base.html #}
{% extends "djangocms_blog/base.html" %}
{% load static get_url_match %}

{% block content_assets %}
  {{ block.super }}

  {% with year_slug=request.path|get_url_match:"/(20\d\d)/" %}
    {% if year_slug %}
      {% with path="texascale-org/css/build/app.blog."|add:year_slug|add:".css" %}
  <link rel="stylesheet" href="{% static src %}" data-year_slug="{{year_slug}}">
      {% endwith %}
    {% else %}
      {% if settings.DEBUG %}
  <!-- will not load annual CSS cuz year_slug is {{year_slug}} not /(202\d)/ -->
      {% endif %}
    {% endif %}
  {% endwith %}
{% endblock content_assets %}
